html,
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #0e0e10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    opacity: 0.2;
    user-select: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 85%;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.7);
}

#scrobbling-now {
    font-size: 16px;
    color: silver;
    padding-bottom: 0.66em;
}

#trackname {
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding-bottom: 0.25em;
}

#artist {
    font-size: 16px;
    color: silver;
}
